In [4]:
import os
from datetime import datetime
import time
from sklearn.preprocessing import StandardScaler
import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns
import math

import pandas as pd

In [6]:
sample_data = pd.read_csv('../data/2022_1122.CSV',names = ["No.","V(m/s)","T(C)","H(%RH)","A(hPa)","Atom.F"])
sample_df = sample_data[19:]
sample_df.head()

   No. V(m/s)  T(C) H(%RH) A(hPa) Atom.F
19   1   0.19  26.3   75.1   1013      0
20   2   0.23  26.3   74.9   1013      0
21   3   0.20  26.3   74.8   1013      0
22   4   0.20  26.3   74.5   1013      0
23   5   0.20  26.3   74.7   1013      0